@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 0px;
}
header {
    position: relative;
    display: flex;
    top: 0;
    left: 3vw;
    right: 0;
    width: 94vw;
    height: 20vh;
    justify-content: space-between;
}
header > svg,
header > button {
    position: relative;
    box-sizing: border-box;
    align-self: center;
}
#tryit {
    position: relative;
    width: 10vw;
    height: 7vh;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    border: solid 2px hsl(322, 100%, 66%);
    color: hsl(322, 100%, 66%);
    font-size: 16px;
    cursor: pointer;
}
#tryit:hover {
    position: relative;
    width: 10vw;
    height: 7vh;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    border: solid 2px hsl(321, 100%, 78%);
    color: hsl(321, 100%, 78%);
    font-size: 16px;
    cursor: pointer;
}
main {
    position: relative;
    top: 10vh;
    left: 0;
    width: 100vw;
    display: grid;
}
main svg,
footer svg {
    position: relative;
    width: 100%;
}
#hint-div {
    position: relative;
    display: grid;
}
#hint-header  {
    position: relative;
    justify-self: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    padding-top: 2vh;
}
#hint-p {
    position: relative;
    justify-self: center;
    width: 45vw;
    top: 2vh;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
#hint-button {
    position: relative;
    justify-self: center;
    top: 6vh;
    width: 22vw;
    height: 8vh;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(322, 100%, 66%);
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 8px 0 #000;
}
#hint-button:hover {
    position: relative;
    justify-self: center;
    top: 6vh;
    width: 22vw;
    height: 8vh;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(321, 100%, 78%);
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 8px 0 #000;
}
#main-svg {
    position: relative;
    top: 20vh;
    justify-self: center;
}
#main-svg svg {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}
#client-div {
    position: relative;
    top: 30vh;
    display: flex;
    z-index: 1;
    width: 84%;
    justify-self: center;
}
.clientdiv {
    position: relative;
    width: 50%;
    padding: 10px;
    display: grid;
    left: 5vw;
}
.client-span{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 80px;
}
.client-p {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: lightgray;
    font-size: 20px;
}
#message-div {
    position: relative;
    left: 12vw;
    width: 20vw;
}
#message-p {
    position: relative;
    left: 3vw;
    width: 20vw;
}
.container {
    position: relative;
    top: 35vh;
}
#section1-div {
    position: relative;
    width: 40%;
    top: 20vh;
    font-family: 'Open Sans', sans-serif;
    padding: 80px;
}
#section1-h {
    font-family: 'Poppins', sans-serif;
}
#section1-p {
    position: relative;
    top: 2vh;
}
#section1-container {
    position: relative;
    background-color: hsl(207, 100%, 98%);
    height: 75vh;
    z-index: 1;
}
#section1-container svg {
    position: relative;
    transform: scale(0.5);
    left: 35vw;
    top: -70vh;
    width: fit-content;
}
.container svg:nth-child(1) {
    position: relative;
    top: 1vh;
}
.container svg:nth-child(3) {
    position: relative;
}
.flow-div {
    position: relative;
    top: 30vh;
}
.flow-div svg {
    position: relative;
    transform: scale(0.5);
    left: -19vw;
    top: -15vh;
}
#flow-container {
    position: relative;
    top: -88vh;
    left: 55vw;
    width: 38%;
    font-family: 'Open Sans', sans-serif;
}
#flow-h {
    position: relative;
    font-family: 'Poppins', sans-serif;
}
#flow-p {
    position: relative;
    top: 2vh;
}
#section2 {
    position: relative;
    top: 10vh;
}
#section2-div {
    position: relative;
    width: 40%;
    top: 18vh;
    font-family: 'Open Sans', sans-serif;
    padding: 80px;
}
#section2-h {
    font-family: 'Poppins', sans-serif;
}
#section2-p {
    position: relative;
    top: 2vh;
}
#section2-container {
    position: relative;
    background-color: hsl(207, 100%, 98%);
    height: 75vh;
    z-index: 1;
    top: -26vh;
}
#section2-container svg {
    position: relative;
    transform: scale(0.5);
    left: 35vw;
    top: -70vh;
    width: fit-content;
}
#section2 svg:nth-child(1) {
    position: relative;
    top: -25vh;
}
#section2 svg:nth-child(3) {
    position: relative;
    top: -26vh;
}
#bottom-hint-container {
    position: relative;
    justify-self: center;
    display: grid;
    top: 10vh;
    height: 25vh;
}
#bottom-hint-h  {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
}
#bottom-hint-button {
    position: relative;
    top: 0;
    width: 22vw;
    height: 8vh;
    border-radius: 50px;
    font-size: 16px;
    justify-self: center;
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(322, 100%, 66%);
    border: none;
    color: #fff;
    box-shadow: 1px 1px 8px 0 #000;
    cursor: pointer;
}
#bottom-hint-button:hover {
    position: relative;
    top: 0;
    width: 22vw;
    height: 8vh;
    border-radius: 50px;
    font-size: 16px;
    justify-self: center;
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(321, 100%, 78%);
    border: none;
    color: #fff;
    box-shadow: 1px 1px 8px 0 #000;
    cursor: pointer;
}
footer {
    position: relative;
    top: 100vh;
}
